/* ========================== Component Name ========================== */
$component: features-84;
$is: [is=fir-$component];
/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */
$(is){
  padding: 25px 0;
}


.$(component) {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 880px;
  margin: 0 auto;

  &__img-wrapper {
    order: 2;
    position: relative;
    width: 100%;
    margin-top: 25px;

    img {
      width: 95%;
      height: auto;
      object-fit: cover;
    }

    svg {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: auto;
    }
  }

  &__content {
    order: 1;

    h2 {
      margin-bottom: 20px;
    }
  }

  &__post-category {
    margin-bottom: 10px;
    color: var(--teal);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 1px;
  }

  &__cta {
    margin-top: 20px;
  }
  /* ========================== Modifiers ========================== */

  &--flip {
    .$(component)__img-wrapper {
      order: 1;
      margin-top: 0;
    }

    .$(component)__content {
      order: 2;
      margin-top: 25px;
    }

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
  &.fir--light {
    .$(component)__cta {
      background: transparent;
      color: black;
      border: 1px solid black;

      &:hover {
        background: black;
        border: 1px solid transparent;
        color: black;

      }
    }
  }
}

/* ========================== Breakpoints ========================== */

/* ================ Query: Small */
$(is).SM .$(component){
}

/* ================ Query: Medium */
$(is).MD .$(component){
  padding: 80px 0;
    &__content {
      width: 45%;
      margin-bottom: 0;
    }

    &__img-wrapper {
      width: 48%;
    }

    &--flip {
    }
}

/* ================ Query: Large */
$(is).LG .$(component){
}

/* ================ Query: Xtra Large */
$(is).XL .$(component){
}

/* ================ Query: Xtra Xtra Large */
$(is).XXL .$(component){
}
